body
  form(id="ListaddForm" method="post" action="/listaddpost")
    input(type='hidden' id= 'ListaddField' name='addinfo' value='')
  form(id="DepotaddForm" method="post" action="/depotaddpost")
    input(type='hidden' id= 'DepotaddField' name='addinfo' value='')