doctype html

head
  meta(charset='utf-8')
  meta(base href="/")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  link(rel='icon' type='image/png' href='/images/favicon.ico')
  title Taek IT Envanter Sistemi
  script.
    function goBack() {
      window.history.back();
    }

//------------------------------------------------------------------------------------------------------------------------

body
  nav
    ul.nav-menu.nav-center
      li(id="goback" style='float:left')
        a(id="goimage" onclick="goBack()") 
          img(src="/images/back.png")
      li(style='float:left')
        a(href='/') Anasayfa

  h1(id="mainhead2")  Hakkında
  p Bu yazılım 2020 yılında Türkiye Atom Enerjisi Kurumunda Ahmet Said ÖZDEMİR tarafından geliştirilmiştir...

div(id="foot")
  p Türkiye Atom Enerjisi Kurumu 2020 ©