doctype html

head
  head 
    meta(charset='utf-8')
    meta(base href="/")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' href='/images/favicon.ico')
    title Taek IT Envanter Sistemi

//------------------------------------------------------------------------------------------------------------------------

body
  block content
  
  div(id="foot")
    a(href='/about') About
    p Türkiye Atom Enerjisi Kurumu 2020 ©